@font-face{
    font-family: "Poppings";
   src:url(../fonts/Poppins/Poppins-Regular.ttf);
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
@font-face{
    font-family: "Poppings";
   src:url(../fonts/Poppins/Poppins-Bold.ttf);
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}
@font-face{
    font-family: "Poppings";
   src:url(../fonts/Poppins/Poppins-Medium.ttf);
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}
@font-face{
    font-family: "Nanito_Sans";
   src:url(../fonts/Nunito_Sans/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
   font-weight: 400;
   font-style: italic;
   font-display: swap;
}