.menu-link{
    font-family: "Poppins", Arial, sans-serif;
    font-size: 22px;
    line-height: 33px;
    color: #252641;
    display: flex;
    margin: 0px auto;
}
.button_white{
    background-color: #FFFFFF;

    padding: 13px 49px 14px 50px;
    border: 0;
    border-radius: 80px;

    font-size: 22px;
    font-weight: 500;
    color: #6C6C6C;
    cursor: pointer;
}
.button_orange{
    background-color: #F48C06;

    padding: 13px 36px 14px 37px;
    border: 0;
    border-radius: 80px;

    font-size: 22px;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
}
.button_orangeJoin{
    background-color: #F48C06;

    padding: 22px 38px;
    border: 0;
    border-radius: 80px;

    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}

.main-text_o{
    color: #F48C06;
}
.main-text_b{
    color: #2F327D;
}
.main-text_darkb{
    color: #252641;
}
.main-text_w{
    color:#B2B3CF;
}
.main-text{
    font-family: "Poppins", Arial, sans-serif;
    font-size: 54px;
    line-height: 81px;
    font-weight: 700;
}
.hiro-text{
    font-family: "Poppins", Arial, sans-serif;
    font-size: 24px;
    line-height: 160%;
    color: #696984;
    font-weight: 400;
    text-align: center;
}
.tittle-text{
    font-family: "Poppins", Arial, sans-serif;
    font-size: 40px;
    line-height: 180%;
    font-weight: 700;
    text-align: center;
}
.tittle-text-s{
    font-family: "Poppins", Arial, sans-serif;
    font-size: 30px;
    line-height: auto;
    font-weight: 500;
    text-align: center;
}
.text20px{
    font-family: "Poppins", Arial, sans-serif;
    font-size: 20px;
    line-height: 180%;
    color: #696984;
    font-weight: 400;
}
.text26px{
    font-family: "Poppins", Arial, sans-serif;
    font-size: 26px;
    line-height: 180%;
    font-weight: 500;
}
.text22px{
    font-family: "Poppins", Arial, sans-serif;
    font-size: 20px;
    line-height: 180%;
    color: #B2B3CF;
    font-weight: 400;
}

.button_play{
    background: none;
    cursor: pointer;

    border: 0;
    padding: 0;
    display: inline-flex;
    align-items: center;

    font-size: 24px;
    font-weight: 400;
    color: #252641;
    gap: 8px;
}
.button_play img{
    width: 80px;
    height: 80px;
    display: block;
}
.button_ramka{
    background: #FFFFFF;

    padding: 19px 38px 18px 38px;
    border: 1px solid #F48C06;
    border-radius: 80px;

    font-size: 22px;
    font-weight: 500;
    color: #F48C06;
    cursor: pointer;
}
.button-subscribe{
    background-image: linear-gradient(135deg, #545AE7, #393FCF) ;

    padding: 14px 34px 13px 34px;
    border: 0;
    border-radius: 60px;

    font-size: 22px;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
}
.email-input{
    background: transparent;

    padding: auto;
    border: 1px solid #83839A;
    padding: 15px 258px 15px 30px;
    border-radius: 80px;

    font-size: 20px;
    font-weight: 400;
    color: #83839A;
    cursor: pointer;
    display: flex;
    justify-content: left;
}

.nav_list{
    list-style: none;
    display: flex;
    gap: 80px;
    
}
.nav_list a{
    text-decoration: none;
    color: #252641;
}
.nav_list a:hover{
    text-decoration: underline;
    color: #2F327D;
}
.heder_conteiner{
    margin: 0 auto;
    display: flex;
    width: 1694px;
    height: 83px;
    align-items: center;
}
.banner{
    padding: 0 140px 0 125px;
    max-height: 1118px;
    overflow-y: auto;
    background-color: #FFF2E1;
    mask-image:url("../images/banner-mask.svg");
    mask-position: center bottom;
    mask-repeat: no-repeat; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.banner__content {
    flex: 1;
}
.banner__buttons {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
}
.banner__image{
        width: 911px;
        height: 911px;
}
.section-1{
    display: flex;
    list-style: none;
    gap: 80;
    justify-content: center;
}
.section-1_conteiner{
    margin: 0 auto;
    display: flex;
    width: 1337.09px;
    height: 145.54px;
    align-items: center;
    padding: 75px;
}
.footer-container{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
}

.footer{
    background-color: #252641;
    width: 100%;
    padding-top: 74px;
    padding-bottom: 40px;
   
}
.footer-container{
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    text-align: center;
    gap: 95px;
    flex-direction: column;
}
.footer-img{
    width: 388px;
    height: 83px;
}
.form-row{
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}

.footer-link{
    display: flex;
    gap: 12px;
    align-items: center;
    flex-wrap: wrap;
}
.footer-link a{
    color: #B2B3CF;
    font-size: 20px;
    line-height: 180%;
    font-weight: 400;
    text-decoration: none;
    font-family: "Poppins", Arial, sans-serif;
}
.footer-link a:not(:last-child)::after {
  content: "|";
  margin-left: 12px;
  color: #696984;
}
